*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.chassis{
    background-color: grey;
    height: 600px;
    width: 400px;
    border-radius: 10px;

}
/* chassis */

.calculator-logo {
    display: block;
    margin: 0 auto 20px; 
}


.calculator {
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: grey; 
    padding: 20px;
    border-radius: 10px;
}

.calculator-display {
    width: 100%;
    height: 50px;
    background-color: black; 
}

.calculator-keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.key {
    height: 70px;
    width: 22%; 
    margin: 1%; 
    font-size: 25px; 
    border-radius: 5px;
    background-color: beige; 
}

.operation {
    background-color: orange; 
}

